<%= form_for(@outgoing) do |f| %>
  <% if @outgoing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outgoing.errors.count, "error") %> prohibited this outgoing from being saved:</h2>

      <ul>
      <% @outgoing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :Outgoing %><br>
    <%= f.select("product_id", Product.all.collect{|p| [p.name,p.id ]}, { include_blank: true}) %>
  </div>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
