<h1>Listing outgoings</h1>

<table class ="table table-striped" >
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outgoings.each do |outgoing| %>
      <tr>
        <td><%= outgoing.product_id %></td>
        <td><%= outgoing.product.name %></td>
        <td><%= outgoing.quantity %></td>
        <td><%= outgoing.date %></td>
        <td><%= link_to 'Show', outgoing %></td>
        <td><%= link_to 'Edit', edit_outgoing_path(outgoing) %></td>
        <td><%= link_to 'Destroy', outgoing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outgoing', new_outgoing_path %>
