<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @outgoing.quantity %>
</p>

<p>
  <strong>Date:</strong>
  <%= @outgoing.date %>
</p>

<%= link_to 'Edit', edit_outgoing_path(@outgoing) %> |
<%= link_to 'Back', outgoings_path %>
