<h1>Listing products</h1>

<table class ="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Available Stock </th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.total_stock%></td>
        <td>Rp.<%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <p>
    <%= link_to "Printable Product", products_path(@products, format: "pdf") %>
  </p>

<br>

<%= link_to 'New Product', new_product_path %>
