<%= form_for(@incoming) do |f| %>
  <% if @incoming.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incoming.errors.count, "error") %> prohibited this incoming from being saved:</h2>

      <ul>
      <% @incoming.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Barang_Masuk %><br>
    <%= f.select("product_id", Product.all.collect {|p| [ p.name,p.id ] }, { include_blank: true }) %>
  </div>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
