<h1>Listing incomings</h1>

<table class ="table table-striped">
  <thead>
    <tr>
      <th>Product Id</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incomings.each do |incoming| %>
      <tr>
        <td><%= incoming.product.id %></td>
        <td><%= incoming.product.name%></td>
        <td><%= incoming.quantity %></td>
        <td><%= incoming.date %></td>
        <td><%= link_to 'Show', incoming %></td>
        <td><%= link_to 'Edit', edit_incoming_path(incoming) %></td>
        <td><%= link_to 'Destroy', incoming, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incoming', new_incoming_path %>
