<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @incoming.quantity %>
</p>

<p>
  <strong>Date:</strong>
  <%= @incoming.date %>
</p>

<%= link_to 'Edit', edit_incoming_path(@incoming) %> |
<%= link_to 'Back', incomings_path %>
