<!DOCTYPE html>
<html>
<head>
  <title>Inven</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"  style="background-color:#2c3e50;">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <%= link_to "Inventory", root_url, class: "navbar-brand" %>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <% if user_signed_in? %>
                  <li><%= link_to current_user.email%></li>
                  <li><%= link_to "Log Out" , destroy_user_session_path, method: :delete %></li>
                  <li><%= link_to "All Products",root_path%></li>
                  <li><%= link_to "Transaksi Masuk",incomings_path%></li>
                  <li><%= link_to "Transaksi Keluar",outgoings_path%></li>
                <% else %>
                  <li><%= link_to "Sign In", user_session_path %></li>
                  <li><%= link_to "Register", new_user_registration_path %></li>
                <% end %>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <!-- Page Content -->
  <div class="container">

      <div class="row">
          <div class="col-lg-12">
            <% flash.each do |a,b| %>
              <div class="alert alert-succes"> <%= b %> </div>
              <% end %>
            <%= yield %>
          </div>
      </div>
  </div>
  <!-- /.container -->
  <style> body{padding-top:70px;}</style>
</body>
</html>
